# Instructions:

Read in both of the CSV files and print out their DataFrames

Perform an inner merge that combines both DataFrames on the "Date" column

Rename the columns within the newly merged DataFrame so that the headers are more descriptive

Create a summary table that includes the following information: Best Bitcoin Open, Best Dash Open, Best Bitcoin Close, Best Dash Close, Total Bitcoin Volume, Total Dash Volume

Total Bitcoin Volume and Total Dash Volume should be calculated to have units of "millions" and be rounded to two decimal places

In [1]:
import pandas as pd

In [2]:
csv1 = pd.read_csv('/Users/maxparry/GitRepos/python-notes/pandas/input_data/bitcoin.csv')
csv2 = pd.read_csv('/Users/maxparry/GitRepos/python-notes/pandas/input_data/dashprice.csv')

In [5]:
bit = pd.DataFrame(csv1)
dsh = pd.DataFrame(csv2)

In [7]:
bit.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [8]:
dsh.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [9]:
inner = pd.merge(bit, dsh, on=['Date'], how='inner')

In [10]:
inner.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

Rename the columns within the newly merged DataFrame so that the headers are more descriptive

In [12]:
newinner = inner.rename(columns={'Open_x':'Bitcoin Open',
                                 'High_x':'Bitcoin High',
                                 'Low_x':'Bitcoin Low',
                                 'Close_x':'Bitcoin Close',
                                 'Volume_x':'Bitcoin Volume',
                                 'Market Cap_x':'Bitcoin Market Cap',
                                 'Open_y':'Dash Open',
                                 'High_y':'Dash High',
                                 'Low_y':'Dash Low',
                                 'Close_y':'Dash Close',
                                 'Volume_y':'Dash Volume',
                                 'Market Cap_y':'Dash Market Cap'})

In [13]:
newinner.head()

,Date,Bitcoin Open,Bitcoin High,Bitcoin Low,Bitcoin Close,Bitcoin Volume,Bitcoin Market Cap,Dash Open,Dash High,Dash Low,Dash Close,Dash Volume,Dash Market Cap
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

Create a summary table that includes the following information: Best Bitcoin Open, Best Dash Open, Best Bitcoin Close, Best Dash Close, Total Bitcoin Volume, Total Dash Volume

In [26]:
summary = pd.DataFrame({'Bitcoin':[(newinner['Bitcoin Open'].max()),
                                  (newinner['Bitcoin Close'].max()),
                                  (str((newinner['Bitcoin Volume'].sum() / 1000000).round(decimals=2)) + ' millions')],
                        'Dash':[(newinner['Dash Open'].max()),
                                (newinner['Dash Close'].max()),
                                (str((newinner['Dash Volume'].sum() / 1000000).round(decimals=2)) + ' millions')]},
                       index=['Best Open', 'Best Close', 'Total Volume'])

In [27]:
summary

                        Bitcoin              Dash
Best Open                772.42            400.42
Best Close               754.56            399.85
Total Volume  24383.05 millions  2960.28 millions

Total Bitcoin Volume and Total Dash Volume should be calculated to have units of "millions" and be rounded to two decimal places